@import "normalize.css";

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-family: sans-serif, system-ui;
	overflow: hidden;
	background: hsl(210 34% 28%);
	margin: 0;
}

button {
	position: relative;
}

canvas {
	position: absolute;
	width: 100vmax;
	aspect-ratio: 1;
	top: 50%;
	left: 50%;
	mask: radial-gradient(circle at center, white 0%, transparent 60%);
	z-index: -1;
	background: black;
	translate: -50% -50%;
	transform: rotateY(180deg);
}
