@import "normalize.css";

*,
*:after,
*:before {
	box-sizing: border-box;
}

#app {
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-family: 'Google Sans', sans-serif, system-ui;
	align-content: center;
}