@import 'normalize.css';

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200vh;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
    Helvetica, Arial, sans-serif, system-ui;
  /* background: linear-gradient(red, orange, yellow, green); */
  background: white;
}

main {
  flex: 1;
}

/* .magnifier iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  border: 0;
  transform-origin: 100% 0;
  pointer-events: none;
  transform: translateX(calc(var(--magnify-x, 0) * -1px))
    translateY(calc(var(--magnify-y, 0) * -1px));
}

.magnifier__scope {
  height: 100%;
  width: 100%;
  scale: var(--magnification, 1.7);
  transition: scale 0.2s ease;
}

.magnifier {
  width: 200px;
  aspect-ratio: 1;
  position: fixed;
  top: 0;
  left: 0;
  translate: calc(var(--magnify-x, 0) * 1px) calc(var(--magnify-y, 0) * 1px);
  transform: translate(-50%, -50%);
  border: 6px solid hsl(0 0% 80%);
  border-radius: 50%;
  cursor: none;
  z-index: 999999;
  overflow: hidden;
}

.magnifier::after {
  content: '';
  position: absolute;
  inset: -1px;
  border-radius: 50%;
  border: 2px solid white;
}

.magnifier__info {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  font-size: 0.875rem;
  border: 1px solid hsl(0 0% 50%);
  border-radius: 6px;
  padding: 1rem 1.5rem;
  gap: 0.5rem;
  font-weight: 300;
  background: canvas;
  color: canvasText;
  color-scheme: light only;
  animation: enter 0.625s both ease-out;
}

@keyframes enter {
  0% {
    translate: 0 200%;
  }
}

@media (prefers-color-scheme: dark) {
  .magnifier__info {
    color-scheme: dark only;
  }
}

.magnifier__info kbd {
  color: hsl(10 100% 50%);
}

.magnifier__info > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.magnifier__info > div div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
}

.magnifier__info ul {
  padding: 0;
  margin: 0;
  list-style-position: inside;
  opacity: 0.8;
  line-height: 1.5;
}

.magnifier__info button {
  align-self: flex-end;
  padding: 0.25rem 0.5rem;
}

.magnifier__info svg {
  width: 20px;
} */
