@import "normalize.css";
@import "open-props/style";
@import "open-props/normalize";
@import "normalize.css";
@import "../../../../net/experimental-web-platform/style.css";

/* @import "https://unpkg.com/open-props/open-props.min.css";
@import "https://unpkg.com/open-props/normalize.min.css"; */

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  color-scheme: none;
  background: transparent;
}

body {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  gap: var(--size-6);
  font-family:  'Google Sans', sans-serif, system-ui;
  position: relative;
  background: var(--blue-6);
  color: var(--text-1);
}


/* selectmenu {
  anchor-name: --menu;
}

[popover]:open {
  top: anchor(--menu bottom);
} */

:where(span, option) {
  font-size: var(--font-size, var(--font-size-1));
  font-weight: var(--font-weight, var(--font-weight-4));
}

option {
  display: flex;
  gap: var(--size-4);
}

option svg {
  width: var(--size-4);
  fill: var(--text-1);
  opacity: 0.6;
  visibility: hidden;
  display: none;
}

fieldset {
	padding: var(--size-4);
	border-radius: var(--radius-3);
	background: var(--gray-3);
	border: 1px solid var(--gray-0);
	box-shadow: var(--shadow-5);
	display: grid;
	gap: var(--size-4);
}

legend {
	font-weight: bold;
	padding: var(--size-3);
	background: var(--gray-1);
	border-radius: var(--radius-3);
	border: 1px solid var(--gray-0);
	box-shadow: var(--shadow-3);
}


.form-field {
	display: grid;
	gap: var(--size-2);
}

[popover] {
  overflow: visible;
  border-radius: var(--radius-2);
/*   top: anchor(--menu bottom); */
  opacity: var(--open, 0);
  box-shadow: var(--shadow-5);
  overflow: auto;
  height: 30vh;
  border: 0;
  padding: 0;
  width: 280px;
  opacity: var(--open, 0);
  transition: transform 0.2s, opacity 0.2s;
  transform: translateY(calc(var(--open, 0) * 5%));
}

[popover] option + option {
  border-top: 1px solid var(--gray-2);
}

[behavior=button] svg {
  width: var(--size-3);
}

[behavior=marker] {
  display: grid;
  align-items: center;
  justify-content: end;
  aspect-ratio: 1;
  border: 2px solid transparent;
  border-left-color: var(--surface-3);
  border-top: none;
  border-bottom: none;
  width: 44px;
}

[behavior=marker] svg {
	fill: var(--gray-6);
}

option {
  padding: var(--size-2) var(--size-4);
  display: flex;
  align-items: center;
}

selectmenu span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
}

selectmenu :is(img, .filler) {
  width: 44px;
  aspect-ratio: 1;
  object-fit: contain;
}

option:focus {
  background: var(--surface-2);
}

option {
  outline-offset: -2px;
  background: var(--surface-1);
  color: var(--text-1);
}

option:focus-within {
  outline-color: var(--red-4);
  outline-offset: -4px;
}

option:hover {
  background: var(--surface-2);
}

[popover]:open {
  --open: 1;
}

[behavior=selected-value] {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--size-4);
}

selectmenu:has([popover]:open) {
  --open: 1;
}

[behavior=marker] svg {
  opacity: calc(0.25 + var(--open, 0));
  rotate: calc(var(--open, 0) * 180deg);
  transition: opacity 0.2s var(--ease-elastic-2), rotate 0.2s var(--ease-elastic-2);
}

input {
	height: 60px;
	background: var(--gray-0);
	padding: var(--size-4);
}
input:focus-visible {
	outline-color: var(--red-4);
}

[type=submit] {
	padding: var(--size-4);
	background: var(--green-6);
	font-weight: bold;
	color: var(--gray-0);
	transition: background 0.2s;
	outline-color: var(--green-4);
}

[type=submit]:hover {
	background: var(--green-8);
}

[behavior=button] {
  padding: var(--size-2) var(--size-4);
  display: flex;
  border-radius: var(--radius-2);
  border: 0;
/*   box-shadow: var(--shadow-5); */
	height: 60px;
  background: var(--surface-1);
  align-items: center;
  gap: var(--size-4);
  text-align: left;
  width: 280px;
  outline-color: var(--red-4);
  color: var(--text-1);
}