@import "normalize.css" layer(normalize);
@import "open-props/style" layer(open-props);
@import "open-props/colors-hsl" layer(open-props);
@import "open-props/normalize" layer(open-props);

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	background: var(--gradient-1);
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-family: 'Google Sans', sans-serif, system-ui;
}

h1 span {
	animation: wiggle 3s infinite;
	display: inline-block;
	transform-origin: 65%;
}

@keyframes wiggle {
	0%, 10%, 20%, 30%, 40%  {
		transform: rotateY(180deg) rotate(-8deg);
	}
	5%, 15%, 25%, 35%, 45%  {
		transform: rotateY(180deg) rotate(8deg);
	}
	50%, 100% {
		transform: rotateY(180deg) rotate(0);
	}
}