:root {
	--blur: 30px;
	--surface-1: 0 0% 94%;
	--surface-2: 0 0% 90%;
}

@media (prefers-color-scheme: dark) {
	:root {
		--surface-1: 0 0% 15%;
		--surface-2: 0 0% 25%;
	}
}



*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-family: 'Google Sans', sans-serif, system-ui;
}

.backdrop {
	position: fixed;
	z-index: -1;
	height: 100vh;
	width: 100vw;
}

main {
	height: 100vh;
	width: 100vw;
	background: hsl(var(--surface-1) / 0.5);
	position: relative;
	backdrop-filter: blur(var(--blur));
	transform-style: preserve-3d;
  transform: translate3d(0, 0, 100vmin);
  perspective: 100vmax;
}

section {
	transition: background 0.2s, color 0.2s;
	background: hsl(var(--surface-1) / 0.3);
	backdrop-filter: blur(var(--blur));
	position: absolute;
	top: 50%;
	left: 50%;
	padding: var(--size-8);
	border-radius: var(--radius-4);
	box-shadow: var(--shadow-5);
	font-weight: var(--font-weight-9);
	color: var(--text-1);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--size-4);
  flex-direction: column;
	overflow: hidden;
	transform-style: preserve-3d;
	transform: translate(-50%, -50%)
		rotateX(calc(var(--progress-y, 0) * -10deg))
		rotateY(calc(var(--progress-x, 0) * 10deg));
}

.shine {
	width: 20%;
	aspect-ratio: 1;
	background: hsl(0 0% 100% / 0.5);
	border-radius: 50%;
	position: absolute;
	pointer-events: none;
	filter: brightness(2) blur(calc(var(--blur) * 1.4));
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
		translateX(calc(((var(--potential-x, 0) * 0.5) * var(--progress-x, 0)) * 1px))
		translateY(calc(((var(--potential-y, 0) * 0.5) * var(--progress-y, 0)) * 1px));

}

p {
	max-inline-size: 100%;
	text-align: center;
}

button {
	white-space: nowrap;
	height: auto;
	flex: 0;
}

.blobs {
	position: absolute;
	top: calc(var(--x, 50) * 1%);
	left: calc(var(--y, 50) * 1%);
	transform-origin: calc(var(--origin-x, 50) * 1%) calc(var(--origin-y, 50) * 1%);
	animation: rotate calc(var(--duration, 10) * 1s) infinite linear;
	transform: rotate(0deg) translate(-50%, -50%) scale(var(--scale, 1));
	transition: all 0.2s;
}

@keyframes rotate {
	to {
		transform: rotate(360deg) translate(-50%, -50%) scale(var(--scale, 1));
	}
}

.hand {
	font-size: var(--font-size-fluid-2);
	margin-left: var(--size-2);
	animation: raise 2.25s infinite;
	display: inline-block;
}

@keyframes raise {
	0%, 10%, 20%, 30% {
		transform: translateY(0);
	}
	15%, 25% {
		transform: translateY(-50%);
	}
}

.blob {
	height: calc(var(--size, 10) * 1vmax);
	background-color: hsl(var(--hue, 0) 95% 70%);
	aspect-ratio: 1;
	position: absolute;
	transform: translate(-50%, -50%) translate(calc(var(--x, 0) * 1%), calc(var(--y, 0) * 1%)) scale(var(--scale, 1));
	border-radius: 50%;
	transition: all 0.2s;
}