@import 'normalize.css';

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	display: grid;
	place-items: center;
	align-content: center;
	gap: 4rem;
	min-height: 100vh;
	font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
		Helvetica, Arial, sans-serif, system-ui;
	color-scheme: dark only;
	background: hsl(0 0% 4%);
	color: hsl(0 0% 98%);
}

h1 {
	text-align: center;
	margin: 0;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.otp {
	--radius: 12px;
	position: relative;
	font-size: clamp(2.5rem, 6vw + 1rem, 10rem);
}

.otp:focus-within {
	--active: 1;
}

.otp::after {
	content: '';
	position: absolute;
	height: 100%;
	left: 1ch;
	right: 1ch;
	z-index: 2;
	border: 1px solid hsl(0 0% 100% / 0.25);
	border-radius: var(--radius);
	pointer-events: none;
}

.otp::before {
	content: '';
	width: calc((100% - 2ch) / 5);
	translate: min(calc(var(--index) * 100%), 400%) 0;
	height: 100%;
	border: 2px solid hsl(0 0% 100% / 1);
	position: absolute;
	left: 1ch;
	z-index: 3;
	opacity: var(--active, 0);
	pointer-events: none;
	border-radius: calc(var(--rl) * var(--radius)) calc(var(--rr) * var(--radius))
		calc(var(--rr) * var(--radius)) calc(var(--rl) * var(--radius));
}

.otp input {
	letter-spacing: 1ch;
	font-feature-settings: 'tnum';
	font-variant: tabular-nums;
	font-family: monospace;
	font-size: clamp(2.5rem, 6vw + 1rem, 10rem);
	border: 0;
	line-height: 1;
	text-indent: 1.45ch;
	font-weight: 100;
	clip-path: inset(0 1ch 0 1ch);
	background: transparent;
	height: 2ch;
	caret-color: red;
	mask: linear-gradient(90deg, white 53.5%, transparent 54%) 1.45ch 50% / 2ch
		80% repeat-x;
}

.otp [maxlength='4'] {
	width: calc(5 * 2ch);
}
.otp [maxlength='5'] {
	width: calc(6 * 2ch);
}
.otp [maxlength='6'] {
	width: calc(7 * 2ch);
}

.otp:has([maxlength="4"])::before {
	width: calc((100% - 2ch) / 4);
	translate: min(calc(var(--index) * 100%), 300%) 0;
}
.otp:has([maxlength="4"])::after {
	background: linear-gradient(
				90deg,
				transparent 0 calc(100% - 1px),
				hsl(0 0% 100% / 0.25) calc(100% - 1px) 100%
			)
			0 0 / 25% 100% no-repeat,
		linear-gradient(
				90deg,
				transparent 0 calc(100% - 1px),
				hsl(0 0% 100% / 0.25) calc(100% - 1px) 100%
			)
			33% 0 / 25% 100% no-repeat,
		linear-gradient(
				90deg,
				transparent 0 calc(100% - 1px),
				hsl(0 0% 100% / 0.25) calc(100% - 1px) 100%
			)
			66% 0 / 25% 100% no-repeat;
}
.otp:has([maxlength="5"])::before {
	width: calc((100% - 2ch) / 5);
	translate: min(calc(var(--index) * 100%), 400%) 0;
}
.otp:has([maxlength="5"])::after {
	background: linear-gradient(
				90deg,
				transparent 0 calc(100% - 1px),
				hsl(0 0% 100% / 0.25) calc(100% - 1px) 100%
			)
			0 0 / 20% 100% no-repeat,
		linear-gradient(
				90deg,
				transparent 0 calc(100% - 1px),
				hsl(0 0% 100% / 0.25) calc(100% - 1px) 100%
			)
			25% 0 / 20% 100% no-repeat,
		linear-gradient(
				90deg,
				transparent 0 calc(100% - 1px),
				hsl(0 0% 100% / 0.25) calc(100% - 1px) 100%
			)
			50% 0 / 20% 100% no-repeat,
		linear-gradient(
				90deg,
				transparent 0 calc(100% - 1px),
				hsl(0 0% 100% / 0.25) calc(100% - 1px) 100%
			)
			75% 0 / 20% 100% no-repeat;
}
.otp:has([maxlength="6"])::before {
	width: calc((100% - 2ch) / 6);
	translate: min(calc(var(--index) * 100%), 500%) 0;
}
.otp:has([maxlength="6"])::after {
	background: linear-gradient(
				90deg,
				transparent 0 calc(100% - 1px),
				hsl(0 0% 100% / 0.25) calc(100% - 1px) 100%
			)
			0 0 / calc(100% / 6) 100% no-repeat,
		linear-gradient(
				90deg,
				transparent 0 calc(100% - 1px),
				hsl(0 0% 100% / 0.25) calc(100% - 1px) 100%
			)
			20% 0 / calc(100% / 6) 100% no-repeat,
		linear-gradient(
				90deg,
				transparent 0 calc(100% - 1px),
				hsl(0 0% 100% / 0.25) calc(100% - 1px) 100%
			)
			40% 0 / calc(100% / 6) 100% no-repeat,
		linear-gradient(
				90deg,
				transparent 0 calc(100% - 1px),
				hsl(0 0% 100% / 0.25) calc(100% - 1px) 100%
			)
			60% 0 / calc(100% / 6) 100% no-repeat,
		linear-gradient(
				90deg,
				transparent 0 calc(100% - 1px),
				hsl(0 0% 100% / 0.25) calc(100% - 1px) 100%
			)
			80% 0 / calc(100% / 6) 100% no-repeat;
}