@import "normalize.css" layer(normalize);
@import "open-props/style" layer(open-props);
@import "open-props/normalize" layer(open-props);
@import "open-props/colors-hsl" layer(open-props);
@import "../../../../net/experimental-web-platform/style.css";
@import "../../../../net/material-design-lite/mdl.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Google Sans", sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: var(--surface-2);
}

.containing-block {
  position: relative;
}
.tooltip {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  box-shadow: var(--shadow-4);
  padding: var(--size-4);
  white-space: nowrap;
  border-radius: var(--radius-2);
  font-weight: var(--font-weight-6);
  background: var(--surface-1);
}

.anchor {
  background: var(--blue-2);
  text-align: center;
  font-weight: bold;
  border-radius: var(--radius-2);
  padding: var(--size-2);
}
