* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.box {
  aspect-ratio: 1;
  width: 90vmin;
  background: hsl(210 80% 50%);
}

.wrapper {
  background: hsl(0 0% 96%);
  resize: both;
  overflow: hidden;
}

/* Masking magic */ 
.box {
  mask-image: url(https://simpleicons.org/icons/x.svg);
  mask-size: calc(var(--size, 50) * 1px);
  mask-repeat: no-repeat;
  mask-position: calc(var(--x, 0) * 1px) calc(var(--y, 0) * 1px);
  transition: mask 0.2s;
}

[data-position=Start] {
  --x: var(--start-x);
  --y: var(--start-y);
  --size: var(--start-size);
}
[data-position=End] {
  --x: var(--end-x);
  --y: var(--end-y);
  --size: var(--end-size);
}	