@import "normalize.css";

*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	font-size: 20px;
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	background: hsl(0 0% 15%);
	scale: 2;
}

canvas {
	background: hsl(0 0% 5%);
	position: absolute;
	width: 16rem;
	aspect-ratio: 1;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
/*  transform: rotateY(180deg);*/
  z-index: -1;
  border-radius: 6px;
}

button {
	border-radius: 6px;
/*	overflow: hidden;*/
	padding: 1rem 2rem;
	background: transparent;
	position: relative;
	font-size: 20px;
	border: 2px solid lime;
	scale: 1;
}

button span {
	z-index: 5;
	font-family: "JetBrains Mono", monospace;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	letter-spacing: 6px;
	/* Hide the text	*/
	opacity: 0;
	text-indent: 6px;
	color: red;
}