@import "normalize.css";

* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  margin: 0;
  opacity: 0.5;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-family: sans-serif;
  z-index: 10;
}

svg {
  width: 25vmin;
  aspect-ratio: 1;
  overflow: visible !important;
  position: absolute;
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
  transform: translate(-50%, -50%);
}