@import "open-props/style";
@import "open-props/normalize";
@import "../../../../net/material-design-lite/icons.css";

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	background: var(--surface-2);
	font-family: 'Google Sans', sans-serif, system-ui;
}

main {
	gap: 2rem;
	display: grid;
	place-items: center;
}

.wrapper {
	resize: both;
	overflow: hidden;
/* 	display: flex; */
}

.wrapper > * {
	width: 100%;
}

[data-for=article] {
	width: 60ch;
	height: 300px;
}

[data-for=button] {
	resize: both;
}

article {
/* 	box-shadow: var(--shadow-4); */
	background: var(--surface-1);
	border-radius: var(--radius-3);
	overflow: hidden;
	display: grid;
	gap: 1rem;
}

main {
	container: main / inline-size;
	width: 100%;
}

article {
	container: card / inline-size;
	grid-auto-columns: 1fr;
	grid-auto-rows: auto;
}
/* Move this to the card by having a layout that the children span based on card width */
/* @container main (min-width: 500px) {
	article {
		grid-template-columns: 1fr 1fr;
	}
} */

article img {
	aspect-ratio: 16 / 9;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card__content {
	padding: 1rem;
	display: grid;
	gap: 0.5rem;
	grid-template-rows: auto 1fr auto;
	text-align: left;
/* 	grid-column: 2; */
}

.button {
	container: action / inline-size;
	min-height: 44px;
}

@container action (max-width: 50px) {
	.button .button__text {
		display: none;
	}
}

@container action (max-width: 120px) {
	.button .button__text--supplementary {
		display: none;
	}
}

@container card (max-width: 300px) {
	article .card__content {
		grid-column: 2;
	}
	article h2 {
		font-size: 1rem;
	}

	article .card__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 200px;
		padding-left: 0;
		gap: 1rem;
	}

	article img {
		max-width: 100px;
	}

	article .button:first-of-type {
		display: none;
	}

	article .button:last-of-type {
		width: 44px;
		aspect-ratio: 1;
		overflow: hidden;
		max-width: 44px;
	}

	article p {
		display: none;
	}
	article img {
		min-width: 50px;
	}
}

@container card (min-width: 50ch) {
	article .card__content {
		grid-column: 2;
	}
}

@container card (max-width: 50ch) {
	article .button:first-of-type {
		max-width: 48px;
		aspect-ratio: 1;
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
	article .button:last-of-type {
		flex: 1;
	}
}

.card__actions {
	display: flex;
	gap: 1rem;
}

.button {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
	padding: var(--size-2) var(--size-4);
	font-weight: var(--font-weight-9);
}

.card__actions .button {
	flex: 0.5;
}

.card__actions .button:last-of-type {
	background: var(--blue-6);
	color: var(--gray-0);
}

aside {
	display: none;
	padding: 1rem;
	gap: 1rem;
	align-content: start;
	min-width: 300px;
	background: var(--surface-1);
	height: 100%;
	border-radius: var(--radius-3);
}

aside h3 {
	text-align: center;
	text-decoration: underline;
}

header {
	width: 100%;
	text-align: center;
	position: relative;
	display: grid;
	min-height: 25vh;
	margin-bottom: 1rem;
	background: url(https://picsum.photos/1920/1080?random=23);
	background-size: cover;
	background-position: center;
}

header button {
	border-radius: 50%;
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 2;
	color: var(--gray-0);
	width: 48px;
	aspect-ratio: 1;
	background: none;
	display: grid;
	place-items: center;
	font-weight: bold;
}

.header__content {
	display: grid;
	place-items: center;
	padding: 2rem;
	z-index: 2;
	background: hsl(0 0% 0% / 0.75);
	height: 100%;
}

.header__content * {
	color: var(--gray-0);
}

aside > p {
	margin: 1rem 0;
	text-align: center;
	opacity: 0.65;
}

aside article {
	background: var(--surface-2);
}

header img {
	aspect-ratio: 16 / 9;
	width: 100%;
	max-height: 100%;
	object-fit: cover;
}

.page {
	display: grid;
	justify-items: center;
	gap: 1rem;
	width: min(calc(100% - 2rem), 1280px);
	margin-bottom: 1rem;
}

@media(min-width: 700px) {
	header {
		grid-column: 1 / -1;
	}
	.page {
		grid-template-columns: auto 1fr;
	}
	aside {
		grid-row: 1 / -1;
		display: grid;
	}
}

:where(h2) {
	margin: 0;
	line-height: 1;
}

article a {
	display: block;
	text-align: right;
}