@import "normalize.css";

*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
  --on: 0;
  --bg: hsl(calc(200 - (var(--on) * 160)), 20%, calc((20 + (var(--on) * 60)) * 1%));
  --cord: hsl(0, 0%, calc((60 - (var(--on) * 50)) * 1%));
  --stroke: hsl(0, 0%, calc((60 - (var(--on) * 50)) * 1%));
  --shine: hsla(0, 0%, 100%, calc(0.75 - (var(--on) * 0.5)));
  --cap: hsl(0, 0%, calc((40 + (var(--on) * 30)) * 1%));
  --filament: hsl(45, calc(var(--on) * 100%), calc((25 + (var(--on) * 25)) * 1%));
  --width: 48px;
}

html {
  color-scheme: dark only;
}

:root:has([aria-pressed=true]) {
  color-scheme: light only;
}

body {
  display: grid;
	place-items: center;
	min-height: 100vh;
	font-family:  "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
  background: var(--bg);
}

body::before {
  --size: 40px;
  --line: color-mix(in lch, canvasText 25%, hsl(0 0% 100% / 0.5));
  content: '';
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
      )
      50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size);
  mask: linear-gradient(-25deg, transparent 65%, white);
  top: 0;
  transform-style: flat;
  pointer-events: none;
  z-index: -1;
}

form {
	position: fixed;
	width: var(--width);
	aspect-ratio: 1;
  top: 1rem;
  right: 1rem;
}

form button {
	width: 100%;
	aspect-ratio: 1;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
  background: transparent;
  border: 0;
  padding: 0;
  display: grid;
  place-items: center;
}

.grab-handle {
	width: 48px;
	aspect-ratio: 1;
	border-radius: 50%;
	position: absolute;
	top: calc((125 / 48) * var(--width));
	left: 50%;
	translate: -50% -50%;
	z-index: 2;
}

.toggle-scene {
  overflow: visible !important;
  position: absolute;
/*  background: red;*/
  width: 100%;
  top: 0;
  left: 0;
}
.toggle-scene__cord {
  stroke: var(--cord);
  cursor: move;
}
.toggle-scene__cord:nth-of-type(1) {
  display: none;
}
.toggle-scene__cord:nth-of-type(2),
.toggle-scene__cord:nth-of-type(3),
.toggle-scene__cord:nth-of-type(4),
.toggle-scene__cord:nth-of-type(5) {
  display: none;
}
.toggle-scene__cord-end {
  stroke: var(--cord);
  fill: var(--cord);
}
.toggle-scene__dummy-cord {
  stroke-width: 6;
  stroke: var(--cord);
}
.bulb__filament {
  stroke: var(--filament);
}
.bulb__shine {
  stroke: var(--shine);
}
/*.bulb__flash {
  stroke: red;
  display: none;
}*/
.bulb__bulb {
  stroke: var(--stroke);
  fill: hsla(calc(180 - (95 * var(--on))), 20%, 80%, calc(0.1 + (0.4 * var(--on))));
}
.bulb__cap {
  fill: var(--cap);
}
.bulb__cap-shine {
  fill: var(--shine);
}
.bulb__cap-outline {
  stroke: var(--stroke);
}
