@import 'normalize.css';

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
    Helvetica, Arial, sans-serif, system-ui;
}

h1 {
  user-select: none;
}

canvas {
  pointer-events: none;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999999;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

.radial {
  --active: 0;
  width: 200px;
  height: 200px;
  position: fixed;
  border-radius: 50%;
  outline: 4px dashed red;
  overflow: hidden;
  border: 0;
  mask: linear-gradient(white, white),
    radial-gradient(white 50px, transparent 51px);
  mask-composite: exclude;
  position: fixed;
  margin: 0;
  left: calc(var(--x, 0) * 1px);
  top: calc(var(--y, 0) * 1px);
  translate: -50% -50%;
  scale: var(--active, 0);
  transition-property: display, overlay, scale;
  transition-duration: 0.125s;
  transition-timing-function: ease-out;
  transition-behavior: allow-discrete;
}

.radial:popover-open {
  --active: 1;
  transition-duration: 0.5s;
  transition-timing-function: linear(
    0 0%,
    0.5422 7.45%,
    0.8139 12.06%,
    0.9224 14.52%,
    1.0057 17.01%,
    1.0662 19.6%,
    1.105 22.34%,
    1.1173 23.9%,
    1.124 25.56%,
    1.1251 27.34%,
    1.1207 29.28%,
    1.1034 32.68%,
    1.0464 40.78%,
    1.0215 44.99%,
    1.0022 49.69%,
    0.9913 54.65%,
    0.9879 61.69%,
    0.9997 83.05%,
    1 100%
  );
}

@starting-style {
  .radial {
    --active: 0;
  }
  .radial:popover-open {
    --active: 0;
  }
}

.radial::after {
  content: '';
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  translate: -50% -50%;
}

/* A side is === 2 * radius * sin (360 / 8) */

.radial__segment {
  border: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  inset: 0;
  background: hsl(calc(var(--index) * (360 / 8)) 80% 50%);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.radial__segment span {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 1.25rem;
  transform: rotate(calc(((var(--index) * (360 / 8)) + 67.5) * 1deg))
    translateY(-75px);
}

.radial__segment::after {
  content: '';
  position: absolute;
  inset: 0;
  opacity: var(--intent, 0);
  background: hsl(0 0% 100% / 0.2);
}

.radial__segment:hover {
  --intent: 1;
}

.radial__segment:nth-child(1) {
  clip-path: polygon(50% 50%, 100% 0, 100% 50%);
}
.radial__segment:nth-child(2) {
  clip-path: polygon(50% 50%, 100% 50%, 100% 100%);
}
.radial__segment:nth-child(3) {
  clip-path: polygon(50% 50%, 100% 100%, 50% 100%);
}
.radial__segment:nth-child(4) {
  clip-path: polygon(50% 50%, 50% 100%, 0 100%);
}
.radial__segment:nth-child(5) {
  clip-path: polygon(50% 50%, 0 100%, 0 50%);
}
.radial__segment:nth-child(6) {
  clip-path: polygon(50% 50%, 0 50%, 0 0);
}
.radial__segment:nth-child(7) {
  clip-path: polygon(50% 50%, 0 0, 50% 0);
}
.radial__segment:nth-child(8) {
  clip-path: polygon(50% 50%, 50% 0, 100% 0);
}
