@import "normalize.css";

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-family:  "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
}

h1 {
	user-select: none;
}

canvas {
	pointer-events: none;
	position: fixed;
	inset: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9999999;
}