
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  margin: 0;
}

article {
  padding-bottom: var(--size-4);
  padding-left: var(--size-10);
}

article > p + p {
  margin-top: var(--size-4);
}

main > header {
  margin-bottom: var(--size-4);
  padding-inline: var(--size-10);
}

[role="img"] {
  position: fixed;
  font-size: 1rem;
  top: calc(var(--size-content-1) * 0.25);
  left: 50%;
  translate: calc((min(50vw, var(--size-content-3) * 0.5) - 100% - var(--size-4)) * -1);
  scale: 3;
  z-index: 99999;
}

main {
  width: var(--size-content-3);
}

header {
  min-height: var(--size-content-1);
  background: var(--surface-2);
  display: grid;
  padding: var(--size-4);
  place-items: center;
}

[popupshowtarget], [popuphidetarget] {
  border: 1px solid var(--text-1);
  padding: var(--size-2) var(--size-4);
}

[popup] {
  --hide: 1;
  display: grid;
  place-items: center;
  gap: var(--size-4);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-duration: 0.5s;
  animation-name: slide-out;
  animation-fill-mode: both;
}

[popup]:top-layer {
  animation-name: slide-in;
}

@keyframes slide-in {
  from {
    transform: translate(-50%, -50%) scale(0) translateX(-100vw);
  }
}

@keyframes slide-out {
  to {
    transform: translate(-50%, -50%) scale(0) translateX(100vw);
  }
}

[popup]::backdrop {
  transition: opacity 0.2s;
  opacity: calc(1 - var(--hide, 1));
  background: hsl(0 0% 10% / 0.5);
  backdrop-filter: blur(2px);
}

/* You can transition your backdrop too */
[popup]:top-layer::backdrop  {
  --hide: 0;
}

