@import "normalize.css" layer(normalize);
@import "open-props/style" layer(open-props);
@import "../../../../net/experimental-web-platform/style.css";
@import "../../../../net/material-design-lite/mdl.css";

*,
*:after,
*:before {
	box-sizing: border-box;
}

/*body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-family:  'Google Sans', sans-serif, system-ui;
}*/