@import "normalize.css" layer(normalize);

@font-face {
  font-family: "Geist Sans";
  src: url("https://assets.codepen.io/605876/GeistVF.ttf") format("truetype");
}

@layer foundation {

	:root {
	  --primary: hsl(0 0% 10%);
	  --secondary: hsl(10 100% 50%);
		--text: hsl(0 0% 0%);
		--white: hsl(0 0% 100%);
		--font-size: clamp(2rem, 8vw + 1rem, 10rem);
		--padding: 15vh;
		--nav: 80px;
		--fixer: hsl(25 90% 50%);
		--clipped: hsl(310 80% 70%);
		--marge: hsl(250 80% 70%);
	}

	*,
	*:after,
	*:before {
		box-sizing: border-box;
	}

	body {
		min-height: 100vh;
		font-family:  "Geist Sans", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
		font-weight: 60;
	  overflow-x: hidden;
	}

	nav {
		align-items: center;
		background: var(--white);
		display: flex;
		height: var(--nav);
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 9999;
	}

	a {
		color: var(--text);
	}

	a svg {
		width: 48px;
	}

	.content {
		margin: 0 auto;
		max-width: 100%;
		width: 80ch;
	}

	section {
		background: var(--text);
		min-height: 100vh;
	}

	nav div,
	main div {
		width: 100vw;
		background: var(--white);
	}

	header {
		color: var(--white);
		margin: 0;
		text-transform: uppercase;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: end;
		z-index: 2;
	}

	h1 {
		font-size: var(--font-size);
		line-height: 0.75;
		margin: 0;
		font-weight: 120;
	  translate: 0 4%;
	  color: var(--secondary);
	}

	main > section {
		background: var(--white);
		display: grid;
		place-items: center;
	}

	main > section .content {
		padding: 0 1rem;
	}

	p {
		font-size: 2rem;
	}

	section {
		position: relative;
		overflow: hidden;
	}

	img {
		width: 100%;
		height: 100vh;
		object-fit: cover;
		filter: contrast(0.75) grayscale(1);
	}
	body > header h1 {
		color: var(--primary);
	}
	footer {
		text-align: center;
		padding: 2rem 1rem;
	}
}

@layer trick {
	header {
		/*	Sticky positioning within the container	*/
		position: sticky;
		top: calc(var(--padding) + var(--nav));
	}
	body > header {
		position: fixed;
	  left: 50%;
	  translate: -50% 0;
		/*	Make sure it sits behind  */
		z-index: 0;
	}
	/* Clip away the top of the main content */
	main {
		clip-path: inset(calc(var(--nav) + var(--font-size) + var(--padding)) 0 0 0);
	}
}
