@import "normalize.css";

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-family:  "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
}


.calculator {
	display: grid;
	gap: 0.5rem;
}

.calculator__move {
	display: flex;
	gap: 0.5rem;
}

body {
	counter-reset: digit-one 0 digit-two 0 output 0;
}

.calculator {
	font-family: monospace;
}

.calculator__move:has(:checked) {
	--first: calc(var(--index-one, 0) * var(--multiplier-one, 1));
	counter-increment: digit-one var(--first);
}

.calculator:has([data-move="0"] > :nth-of-type(1):checked) { --index-one: 4; }

.calculator:has([data-move="0"] > :checked) { --one: var(--index-one); }
.calculator:has([data-move="1"] > :checked) { --two: var(--index-one); }
.calculator:has([data-move="2"] > :checked) { --three: var(--index-one); }
.calculator:has([data-move="3"] > :checked) { --four: var(--index-one); }
.calculator:has([data-move="4"] > :checked) { --fiv: var(--index-one); }

/* Jus' need to make sure you pass the --first onto the second if you can */
.calculator__operands ~ .calculator__move:has(:checked) {
	/* How do you pass this onto where we need it... */
	--base: calc(var(--one, 0));
	--second: calc(var(--index-two, 0) * var(--multiplier-two, 1));
	--output: calc(var(--base) * var(--second));
	counter-increment: digit-two var(--second) output var(--output);
}


.calculator__move:has(:checked),
.calculator__move:not(:has(:checked)) ~ .calculator__move:not(.calculator__operands ~ .calculator__move) {
	pointer-events: none;
	opacity: 0.2;
}

.calculator__move:has(~ .calculator__operands) { --multiplier-one: 1; }
.calculator__move:has(~ .calculator__operands):has(+ .calculator__move > :checked) { --multiplier-one: 10; }
.calculator__move:has(~ .calculator__operands):has(+ .calculator__move + .calculator__move > :checked) { --multiplier-one: 100; }
.calculator__move:has(~ .calculator__operands):has(+ .calculator__move + .calculator__move + .calculator__move > :checked) { --multiplier-one: 1000; }
.calculator__move:has(~ .calculator__operands):has(+ .calculator__move + .calculator__move + .calculator__move + .calculator__move > :checked) { --multiplier-one: 10000; }

.calculator__operands ~ .calculator__move { --multiplier-two: 1; }
.calculator__operands ~ .calculator__move:has(+ .calculator__move > :checked) { --multiplier-two: 10; }
.calculator__operands ~ .calculator__move:has(+ .calculator__move + .calculator__move > :checked) { --multiplier-two: 100; }
.calculator__operands ~ .calculator__move:has(+ .calculator__move + .calculator__move + .calculator__move > :checked) { --multiplier-two: 1000; }
.calculator__operands ~ .calculator__move:has(+ .calculator__move + .calculator__move + .calculator__move + .calculator__move > :checked) { --multiplier-two: 10000; }

/* This index needs to be passed onto the second one */
.calculator__move:has(~ .calculator__operands):has(:nth-of-type(1):checked) { --index-one: 0; }
.calculator__move:has(~ .calculator__operands):has(:nth-of-type(2):checked) { --index-one: 1; }
.calculator__move:has(~ .calculator__operands):has(:nth-of-type(3):checked) { --index-one: 2; }
.calculator__move:has(~ .calculator__operands):has(:nth-of-type(4):checked) { --index-one: 3; }
.calculator__move:has(~ .calculator__operands):has(:nth-of-type(5):checked) { --index-one: 4; }
.calculator__move:has(~ .calculator__operands):has(:nth-of-type(6):checked) { --index-one: 5; }
.calculator__move:has(~ .calculator__operands):has(:nth-of-type(7):checked) { --index-one: 6; }
.calculator__move:has(~ .calculator__operands):has(:nth-of-type(8):checked) { --index-one: 7; }
.calculator__move:has(~ .calculator__operands):has(:nth-of-type(9):checked) { --index-one: 8; }
.calculator__move:has(~ .calculator__operands):has(:nth-of-type(10):checked) { --index-one: 9; }

.calculator__operands ~ .calculator__move:has(:nth-of-type(1):checked) { --index-two: 1; }
.calculator__operands ~ .calculator__move:has(:nth-of-type(2):checked) { --index-two: 1; }
.calculator__operands ~ .calculator__move:has(:nth-of-type(3):checked) { --index-two: 2; }
.calculator__operands ~ .calculator__move:has(:nth-of-type(4):checked) { --index-two: 3; }
.calculator__operands ~ .calculator__move:has(:nth-of-type(5):checked) { --index-two: 4; }
.calculator__operands ~ .calculator__move:has(:nth-of-type(6):checked) { --index-two: 5; }
.calculator__operands ~ .calculator__move:has(:nth-of-type(7):checked) { --index-two: 6; }
.calculator__operands ~ .calculator__move:has(:nth-of-type(8):checked) { --index-two: 7; }
.calculator__operands ~ .calculator__move:has(:nth-of-type(9):checked) { --index-two: 8; }
.calculator__operands ~ .calculator__move:has(:nth-of-type(10):checked) { --index-two: 9; }

.first::after {
	content: "first:" counter(digit-one);
}
.second::after {
	content: "second:" counter(digit-two);
}
.output::after {
	content: "result:" counter(digit-one) "+" counter(digit-two) "=" counter(output);
}