@import "normalize.css";

@layer foundation {
	body {
	  min-height: 100vh;
	  display: grid;
	  place-items: center;
	}

	.ball {
	  height: 10vmin;
	  width: 10vmin;
	  background: hsl(30 80% 30%);
	  border-radius: 50%;
	}

	.floor {
	  position: relative;
	}

	.floor::after {
	  content: "";
	  position: absolute;
	  bottom: 0;
	  width: 80%;
	  height: 10%;
	  background: radial-gradient(hsl(0 0% 10% / 0.5), hsl(0 0% 10% / 0.1));
	  border-radius: 50%;
	  z-index: -1;
	  left: 50%;
	  translate: -50% 50%;
	}

	svg {
	  height: 100%;
	  width: 100%;
	  fill: hsl(30 100% 50%);
	}
}

@layer animation {
	.ball {
	  animation: drop 2s infinite var(--ease, ease);
	}
	
	.floor::after {
	  animation: show 2s infinite var(--ease, ease);	
	}
}

@layer animation-not-cool {
	@keyframes drop {
		0% {
			translate: 0 -100vh;
		}
		15% { translate: 0 -200%; }
		25% { translate: 0 -150%; }
		35% { translate: 0 -100%; }
		45% { translate: 0 -50%; }
		10%, 20%, 30%, 40%, 50%, 100% {
			translate: 0 0;
		}
	}
	@keyframes show {
		0% {
			opacity: 0;
			scale: 0;
		}
		15% { opacity: 0.2; scale: 0.2; }
		25% { opacity: 0.4; scale: 0.4; }
		35% { opacity: 0.6; scale: 0.6; }
		45% { opacity: 0.8; scale: 0.8; }
		10%, 20%, 30%, 40%, 50%, 100% {
			opacity: 1;
			scale: 1;
		}
	}
}

@layer animation-cool {
	:root {
		--bounce: linear(
	    0, 0.004, 0.016, 0.035, 0.063, 0.098, 0.141 13.6%, 0.25, 0.391, 0.563, 0.765,
	    1, 0.891 40.9%, 0.848, 0.813, 0.785, 0.766, 0.754, 0.75, 0.754, 0.766, 0.785,
	    0.813, 0.848, 0.891 68.2%, 1 72.7%, 0.973, 0.953, 0.941, 0.938, 0.941, 0.953,
	    0.973, 1, 0.988, 0.984, 0.988, 1
	  );
	  .ball, .floor::after { animation-timing-function: var(--bounce); }
	}
	@keyframes drop {
	  0% {
	    translate: 0 -100vh;
	  }
	  50%, 100% {
	    translate: 0 0;
	  }
	}
	@keyframes show {
	  0% {
	    opacity: 0;
	    scale: 0;
	  }
	  50%, 100% {
	    opacity: 1;
	    scale: 1;
	  }
	}

}