@import "normalize.css";

*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	color-scheme: light only;
}

body {
	min-height: 100vh;
	font-family:  "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
}

body::before {
  --size: 60px;
  --line: hsl(0 0% 0% / 0.15);
  content: '';
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
      )
      50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size);
  mask: linear-gradient(-15deg, transparent 30%, white);
  top: 0;
  transform-style: flat;
  pointer-events: none;
  z-index: -1;
}

h1, h3 {
	margin: 0;
	font-family: monospace;
	text-transform: uppercase;
	font-size: 2em;
}

header {
	padding: 8rem 0 2rem;
}

.content {
	width: 700px;
	max-width: calc(100% - 2rem);
	margin: 0 auto;
	min-height: 100vh;
}

.balloon img {
	width: 120%;
	position: absolute;
	top: 0;
	left: 50%;
	translate: -50% 0;
}

section {
	min-height: 100vh;
	display: grid;
	place-items: center;
	padding: 1rem;
}

.drop {
	--drop: clamp(1.5rem, 2vw + 1rem, 6rem); 	
	height: var(--drop);
	width: calc(var(--drop) * 2.5);
	aspect-ratio: 4 / 3;
	float: left;
	position: relative;
	shape-outside: inset(0 0 0 0);
}

.drop::after {
	content: "CSS";
	position: absolute;
	inset: 0;
	display: grid;
	line-height: 2rem;
	font-size: calc(var(--drop) * 1);
	font-weight: 600;
	text-align: left;
	place-items: start;
}

.balloon {
	position: absolute;
	left: calc(100% + (var(--gap) * 0.5));
	top: calc(var(--y) * 1%);
	height: calc(var(--size) * 2px);
	aspect-ratio: 1;
	translate: -50% -50%;
	border-radius: 50%;
	margin: 0;
	font-weight: 600;
	font-size: 1.5rem;
	text-align: center;
	container-type: inline-size;
	display: grid;
	place-items: center;
	opacity: 1;
}

.columns {
	display: flex;
	gap: var(--gap);
}

:root {
	--size: 100;
	--y: 30;
	--gap: 2rem;
}

@media(max-width: 768px) {
	:root {
		--size: 50;
		--gap: 1rem;
	}
}

.outside {
	position: relative;
	width: calc(var(--size) * 1px);
	height: calc(100% + (var(--size) * 1px));
	container-type: inline-size;
}

.column:first-of-type .outside {
	float: right;
  shape-outside: circle(calc(var(--size) * 1px) at 100% calc(var(--y) * 1%));
}
.column:last-of-type .outside {
	float: left;
  shape-outside: circle(calc(var(--size) * 1px) at 0 calc(var(--y) * 1%));
}



footer {
	padding: 1rem;
	text-align: center;
}


@supports (animation-timeline: scroll()) {
	.column:first-of-type .outside {
		--x: 100%;
	}
	.column:last-of-type .outside {
		--x: 0;
	}
	.outside {
		animation: float both linear;
	  animation-timeline: --scroller;
	  animation-range: entry 50% exit 0%;
	}
	.content {
		position: sticky;
		top: 0;
	}
	.scroller {
		min-height: 300vh;
		view-timeline: --scroller;
	}

	.balloon {
		animation: journey both linear;
		animation-timeline: --scroller;
		animation-range: entry 50% exit 0%;
	}

	@keyframes journey {
		0% {
			top: 200%;
		}
		100% {
			top: -50%;
		}
	}

	@keyframes float {
		0% {
			shape-outside: circle(calc(var(--size) * 1px) at var(--x) 200%);
		}
		100% {
			shape-outside: circle(calc(var(--size) * 1px) at var(--x) -50%);
		}
	}
}

.columns p {
	font-size: .875rem;
	text-align: justify;
}

.outside {
	float: right;
	shape-outside: circle(50%);
}
/* Social */
.bear-link {
  color: canvasText;
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: 48px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  opacity: 0.8;
}

:where(.x-link, .bear-link):is(:hover, :focus-visible) {
  opacity: 1;
}
.bear-link svg {
  width: 75%;
}