@import 'normalize.css';

:root {
  --speed: 0.5s;
  --ease: linear(
    0 0%,
    0.5007 7.21%,
    0.7803 12.29%,
    0.8883 14.93%,
    0.9724 17.63%,
    1.0343 20.44%,
    1.0754 23.44%,
    1.0898 25.22%,
    1.0984 27.11%,
    1.1014 29.15%,
    1.0989 31.4%,
    1.0854 35.23%,
    1.0196 48.86%,
    1.0043 54.06%,
    0.9956 59.6%,
    0.9925 68.11%,
    1 100%
  );
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
    Helvetica, Arial, sans-serif, system-ui;
}

nav {
  position: fixed;
  bottom: 2rem;
  margin: 0 auto;
  border-radius: 12px;
  border: 2px solid red;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  margin: 0;
}

nav li {
  width: 48px;
  aspect-ratio: 1;
  border: 2px solid red;
  border-radius: 6px;
}

[popovertarget] {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  anchor-name: --anchor;
}

[popover] {
  position-anchor: --anchor;
  inset: unset;
  bottom: anchor(top);
  left: anchor(left);
  margin: 0;
  width: 300px;
  padding: 0;
  overflow: visible;
  opacity: 0;
  transition: display var(--speed), overlay var(--speed),
    opacity calc(var(--speed) * 0.25);
  transition-behavior: allow-discrete;

  li {
    offset-distance: calc(-105vh + (var(--index) * 0vh));
  }

  &:popover-open {
    opacity: 1;
    li {
      offset-distance: calc(-105vh + (var(--index) * 10vh));
      @starting-style {
        offset-distance: calc(-105vh + (var(--index) * 0vh));
      }
    }
  }
  @starting-style {
    opacity: 0;
  }
}

.arc {
  position: absolute;
  bottom: 50%;
  height: 150vh;
  width: 120vh;
  border-radius: 50%;
  border: 4px solid green;
  left: 22px;
  translate: 0 50%;
  pointer-events: none;
}

.arc li {
  width: 48px;
  height: 48px;
  aspect-ratio: 1;
  border: 2px solid blue;
  background: color-mix(in lch, blue, transparent 75%);
  border-radius: 6px;
  position: absolute;
  pointer-events: auto;
  top: 50%;
  left: 0;
  offset-path: rect(0 100% 100% 0 round 50%);
  transition: offset-distance 0.25s
    linear(
      0 0%,
      0.5007 7.21%,
      0.7803 12.29%,
      0.8883 14.93%,
      0.9724 17.63%,
      1.0343 20.44%,
      1.0754 23.44%,
      1.0898 25.22%,
      1.0984 27.11%,
      1.1014 29.15%,
      1.0989 31.4%,
      1.0854 35.23%,
      1.0196 48.86%,
      1.0043 54.06%,
      0.9956 59.6%,
      0.9925 68.11%,
      1 100%
    );
}
/* :popover-open .arc li {
  transition: display 0.25s,
    offset-distance 0.25s
      linear(
        0 0%,
        0.5007 7.21%,
        0.7803 12.29%,
        0.8883 14.93%,
        0.9724 17.63%,
        1.0343 20.44%,
        1.0754 23.44%,
        1.0898 25.22%,
        1.0984 27.11%,
        1.1014 29.15%,
        1.0989 31.4%,
        1.0854 35.23%,
        1.0196 48.86%,
        1.0043 54.06%,
        0.9956 59.6%,
        0.9925 68.11%,
        1 100%
      ),
    opacity 0.125s;
  transition-behavior: allow-discrete;
  offset-distance: calc(-105vh + (var(--index) * 10vh));
} */

.arc li:nth-of-type(1) {
  --index: 1;
}
.arc li:nth-of-type(2) {
  --index: 2;
}
.arc li:nth-of-type(3) {
  --index: 3;
}
.arc li:nth-of-type(4) {
  --index: 4;
}
.arc li:nth-of-type(5) {
  --index: 5;
}
