*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: var(--gradient-1);
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: 'Google Sans', sans-serif, system-ui;
}

.steps {
  display: flex;
  gap: 2ch;
  font-size: var(--font-size-fluid-3);
  font-weight: var(--font-weight-9);
  flex-wrap: wrap;
}

.step {
  opacity: var(--opacity, 0.2);
}

@keyframes wiggle {
  0%, 10%, 20%, 30%, 40%  {
    transform: rotateY(180deg) rotate(-8deg);
  }
  5%, 15%, 25%, 35%, 45%  {
    transform: rotateY(180deg) rotate(8deg);
  }
  50%, 100% {
    transform: rotateY(180deg) rotate(0);
  }
}