*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-family:  'Google Sans', sans-serif, system-ui;
	align-content: center;
}

:where([popup]) {
	margin: auto;
	border-width: initial;
	border-style: solid;
}

code {
	background: var(--gray-2);
	color: var(--md-sys-color-primary);
	font-weight: var(--font-weight-9);
}

article {
	padding: var(--size-4);
	max-inline-size: var(--size-content-2);
}

article p {
	margin-bottom: var(--size-4);
}

[popup] {
  --hide: 1;
  transition: transform 0.2s;
  box-shadow: var(--shadow-5);
  transform: translateY(calc(var(--hide) * -100vh))
            scale(calc(1 - var(--hide)));
}

[popup]::backdrop {
	background: hsl(0 0% 25% / 0.5);
  transition: opacity 0.2s;
  opacity: calc(1 - var(--hide, 1));
}

[popup]:open,
[popup]:open::backdrop  {
  --hide: 0;
}

