:root {
  --red: hsl(18 100% 50%);
  --green: hsl(130 52% 46%);
  --yellow: hsl(44 83% 53%);
  --blue: hsl(215 100% 53%);
  --grey: hsl(0 0% 45%);
  --text: var(--gray-5);
  --transition: 0.5s;
  --valid: var(--green);
  --invalid: var(--red);
  --focus: var(--blue-2);
  --blur: var(--gray-0);
  --disabled: var(--grey);
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-family:  'Google Sans', sans-serif, system-ui;
	overflow: hidden;
}

form {
	width: var(--size-content-3);
	max-width: 90vw;
	aspect-ratio: 1;
	background: var(--surface-2);
	position: relative;
	margin: 0;
	padding: 0;
	border-radius: var(--radius-4);
	overflow: hidden;
}

input {
  border: 4px solid var(--color);
  border-radius: 4px;
  padding: 1rem 2rem;
  font-weight: 400;
  transition-property: border-color, outline-color;
  transition-duration: var(--transition);
  transition-timing-function: var(--ease-elastic-2);
}

input:focus-visible {
  outline-color: var(--color);
}

input::placeholder {
  color: transparent;
}

.form-group {
	padding: var(--size-fluid-2);
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  z-index: var(--show, 0);
}

.form-group__content {
	height: 100%;
	width: 90%;
	display: flex;
  flex-wrap: wrap;
  gap: var(--size-4);
  align-items: center;
  justify-content: center;
  align-content: center;
  opacity: var(--show, 0);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: var(--transition);
  transition-timing-function: var(--ease-elastic-2);
  transform: translateY(calc(var(--offset, 1) * 100%)) scale(var(--show, 0));
  /*transform: translateY(calc(var(--offset, 1) * 100%)) scale(1);*/
}

.form-group__shaker {
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: var(--size-4);
	align-items: center;
	justify-content: center;
}

.form-group__controls {
	display: flex;
	position: absolute;
	gap: var(--size-2);
	bottom: var(--size-fluid-2);
	right: calc(48px + (var(--size-2) + var(--size-fluid-2)));
	opacity: var(--show, 0);
}

[type="reset"] {
	position: absolute;
	right: var(--size-fluid-2);
	bottom: var(--size-fluid-2);
	z-index: 3;
}

.form-group .form-group__input {
	flex: 1;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.button {
	background: hsl(0 0% 5%);
	padding: 0;
}

.button:hover {
	background: hsl(0 0% 10%);
}

.button--icon svg {
	height: 60%;
	aspect-ratio: 1;
	fill: currentColor;
}

.button--icon {
	color: var(--gray-0);
	width: 48px;
	aspect-ratio: 1;
	display: grid;
	place-items: center;
}

.ok {
	height: 48px;
	display: flex;
	padding: var(--size-2);
	width: 80px;
	align-items: center;
	justify-content: center;
}

.ok svg {
	width: calc(48px * 0.6);
}

.next {
	transform: rotate(180deg);
}

label {
  font-family: sans-serif;
  display: flex;
  font-weight: bold;
  transform-style: preserve-3d;
  transition-property: color, opacity;
  transition-duration: var(--transition);
  color: var(--color);
  font-size: 1.25rem;
  white-space: nowrap;
  text-align: center;
}

.form-group__input {
	position: relative;
}

.form-group__input input {
	width: 100%;
}

.form-group__error {
	display: none;
	white-space: nowrap;
	position: absolute;
	top: calc(var(--size-2) + 100%);
	left: 50%;
	color: var(--red);
	transform: translate(-50%, 0) scale(1);
	font-size: var(--font-size-0);
}


.form-group:has(:invalid:not([type="checkbox"])) {
	--color: var(--invalid);
}

.form-group:has(:focus:not([type="checkbox"])) {
  --color: var(--focus);
}

.form-group:has(:placeholder-shown:not([type="checkbox"])) {
  --color: var(--blur);
}

.form-group:has(:valid:not([type="checkbox"])) {
	--color: var(--valid);
}

.form-group:has(:valid:not([type="checkbox"])) :is([for], .ok) {
	pointer-events: all;
	opacity: 1;
}

:is(.form-group:first-of-type) {
  --show: 1;
  --offset: 0;
}

:is(.form-group:has(.proceed:checked), .form-group:first-of-type:has(.proceed:checked)) {
  --show: 0;
  --offset: -1;
}


:is(.form-group:has(:checked):focus-within + .form-group:not(.form-group:has(:checked))) {
  --show: 1;
  --offset: 0;
}

form:not(:focus-within) .form-group:has(:checked) + .form-group:not(.form-group:has(:checked)) {
	--show: 1;
	--offset: 0;
}

.form-group:has( ~ .form-group:focus-within) {
	--show: 0;
	--offset: -1;
}

.form-group:has(:focus-within) {
	--show: 1;
	--offset: 0;
}

.ok, .next, label:not([for]) {
	opacity: 0.25;
	pointer-events: none;
}

[type="submit"] {
	background-color: var(--valid);
	font-family: 'Google Sans', sans-serif, system-ui;
	font-weight: bold;
	font-size: var(--font-size-fluid-1);
	border-radius: var(--radius-2);
	padding: var(--size-2) var(--size-4);
}

[type="submit"]:hover {
	background: var(--green-8);
}

.form-group:has(:invalid:not(:focus):not(:placeholder-shown)) .form-group__error {
  display: block;
}


@media(prefers-reduced-motion: no-preference) {
	
	.form-group__content:has(:valid:not([type="checkbox"])) .label__letter {
	  animation: wave 0.25s calc(var(--index) * 0.05s);
	}
	
	.form-group__shaker:has(:invalid:not(:focus)) {
		animation: shake 0.2s;
	}

	.form-group__shaker:has(:focus),
	.form-group__shaker:has(:placeholder-shown:not(:focus)),
	.form-group__content:has(:placeholder-shown:not(:focus)),
	.form-group__content:has(:placeholder-shown:not(:focus)) .label__letter {
	  animation: none;
	}

	.form-group__error {
		animation: show-error 0.1s 0.2s both;
	}

	@keyframes wave {
	  50% {
	    transform: translateY(-50%);
	  }
	}

	@keyframes show-error {
		0% {
			transform: translate(-50%, -100%) scale(0);
		}
	}

	@keyframes shake {
	  0%, 100% {
	    transform: translateX(0);
	  } 
	  20%, 40%, 60%, 80% {
	    transform: translateX(-2%);
	  }
	  10%, 30%, 50%, 70%, 90% {
	    transform: translateX(2%);
	  }
	}

}