*,
*:after,
*:before {
	box-sizing: border-box;
}

:where([popup]) {
	margin: auto;
	border-width: initial;
	border-style: solid;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--size-4);
	min-height: 100vh;
	font-family:  'Google Sans', sans-serif, system-ui;
}

figcaption {
	color: var(--gray-9);
	font-weight: var(--font-weight-6);
}

h1 {
	font-size: var(--font-size-8);
	margin: 0;
}

h1, h2 {
	text-align: center;
}

video {
	max-width: 100%;
	aspect-ratio: 16/9;
	height: auto;
	width: 100%;
}

body > * + * {
	margin-top: var(--size-4);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

[popuphidetarget] {
	height: 44px;
	aspect-ratio: 1;
	position: absolute;
	bottom: 100%;
	left: 100%;
	font-size: var(--font-size-6);
	display: grid;
	place-items: center;
	color: var(--text-1);
	background: none;
	display: none;
}

[popuphidetarget]:hover {
	color: var(--surface-2);
	background: var(--text-2);
}

[popup] {
	background: none;
	border: 0;
	position: static;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(0%, 0%);
	align-content: center;
	gap: var(--size-4);
	overflow: visible;
}

.video-player {
	display: block;
}

body > .video-placeholder {
	margin: var(--size-4) 0;
}

.video-placeholder {
	width: 100%;
	aspect-ratio: 16 / 10.8;
	background: var(--surface-2);
	max-inline-size: var(--size-content-3);
	display: grid;
	place-items: center;
}

[popup]::backdrop {
	background: hsl(0 0% 90% / 0.9);
	backdrop-filter: blur(6px);
}

[popup]:open {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 75vw;
	aspect-ratio: 16/10;
}

[popup]:open [popuphidetarget] {
	display: block;
}


@media(prefers-color-scheme: dark) {
	figcaption {
		color: var(--gray-0);
	}
	[popup]::backdrop {
		background: hsl(0 0% 10% / 0.9);
	}
}