@import "normalize.css" layer(normalize);
@import "open-props/style" layer(open-props);
@import "open-props/normalize" layer(open-props);
@import "open-props/colors-hsl" layer(open-props);
@import "../../../../net/experimental-web-platform/style.css";

body {
  background: var(--surface-1);
  display: grid;
  min-height: 200vh;
  justify-items: center;
  overflow-x: hidden;
  align-content: start;
}

header {
  background: var(--surface-2);
  background-size: cover;
  max-width: 100%;
  width: var(--size-md);
  aspect-ratio: 3 / 1;
  position: relative;
  view-timeline-name: --header;
}

.backdrop {
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: desaturate both;
  animation-timeline: --header;
  animation-delay: exit 0%;
  animation-end-delay: exit 50%;
  clip-path: inset(0 0 0 0);
}

.avatar {
  width: var(--size-12);
  aspect-ratio: 1;
  border-radius: 50%;
  border: var(--size-2) solid var(--surface-1);
  position: absolute;
  bottom: 0;
  left: var(--size-4);
  translate: 0 50%;
  animation: scale-down both;
  view-timeline-name: --avatar;
  animation-timeline: --header;
  animation-delay: exit 0%;
  animation-end-delay: exit 50%;
  transform-origin: 50% 70%;
}

.intro {
  max-width: 100%;
  width: var(--size-md);
  position: sticky;
  top: 0;
  background: var(--surface-1);
  margin-top: calc(var(--size-12) * 0.5);
}

main {
  width: var(--size-md);
  max-width: 100%;
}

.title {
  width: var(--size-md);
  max-width: 100%;
/*   display: grid; */
  gap: var(--size-2);
  padding: var(--size-4);
  position: sticky;
  top: 0;
  left: 50%;
}

.title-wrapper {
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  justify-content: center;
  animation: shadow both;
  animation-timeline: --avatar;
  animation-delay: exit 150%;
  animation-end-delay: exit 250%;
}

.title h1 {
  margin: 0;
}

.title a {
  color: var(--red-6);
}

@keyframes scale-down {
  to {
    scale: 0.35;
  }
}

@keyframes desaturate {
  to {
    filter: saturate(0.25) blur(2px);
  }
}

@keyframes shadow {
  to {
    box-shadow: var(--shadow-3);
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul {
  padding-top: var(--size-8);
  display: grid;
  gap: var(--size-4);
}

.skeleton {
  --surface: var(--surface-2);
  --block: var(--surface-3);
  --padding: var(--size-4);
  padding: var(--padding);
  gap: var(--padding);
  width: 100%;
  display: grid;
  grid-template: 1fr 1fr / 25% 1fr;
  background: var(--surface);
  max-inline-size: 100%;
}

.skeleton__block {
  background: var(--block);
}

@keyframes load {
  to {
    background-position: 200% 0;
  }
}

.skeleton__block:first-of-type {
  grid-row: 1 / -1;
  aspect-ratio: 1;
}

.skeleton__block:last-of-type {
  width: 65%;
}