@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #111;
}

:root {
  --font-size: 32px;
  --glare: hsl(0 0% 100% / 0.2);
  --blur: 1px;
  --hue: 42deg;
  --saturation: 98%;
  --brightness: 1.2;
  --lightness: 70%;
  --transition: 0.2s;
  --radius: calc(var(--font-size) * 0.5);
  --padding: calc(var(--font-size) * 1.5) calc(var(--font-size) * 2);
}

button {
  --shadow: 0.25;
  visibility: hidden;
  cursor: pointer;
  border: none;
  padding: var(--padding);
  display: block;
  place-items: center;
  box-sizing: content-box;
  border-radius: var(--radius);
  font-family: 'Libre Baskerville', serif;
  position: relative;
  scale: var(--scale, 1);
  transition: scale var(--transition), box-shadow var(--transition);
  outline-color: hsl(var(--hue) var(--saturation) 75%);
  box-shadow:
    0 0 calc(var(--active) * 8em) calc(var(--active) * 2em) hsl(var(--hue) 97% 61% / 0.65),
    0 0.05em 0 0 hsl(var(--hue) calc(var(--active) * 97%) calc((var(--active) * 50%) + 30%)) inset,
    0 -0.05em 0 0 hsl(var(--hue) calc(var(--active) * 97%) calc(var(--active) * 60%)) inset;
  transition: box-shadow var(--transition), scale var(--transition), background var(--transition);
}

button:is(:hover, :focus-visible) {
  --active: 1;
  --scale: 1.1;
}
button:active {
  --scale: 1.075;
}

button:is(:hover, :focus-visible) ~ .backdrop {
  --active: 1;
}

.wipes {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 10vmin;
  aspect-ratio: 58 / 110;
  z-index: 3;
}

.container {
  z-index: 3;
  position: absolute;
  inset: 0;
}

.wipe {
  position: absolute;
  top: 0;
  width: 75%;
  aspect-ratio: 1;
  background: hsl(0 0% 96%);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.backdrop {
  background: hsl(
    var(--hue)
    calc(var(--active) * 97%)
    6%
  );
  position: fixed;
  inset: 0;
  z-index: -1;
  transition: background var(--transition);
}

video {
/*	display: none;*/
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter:
    saturate(0.9);
  position: absolute;
  inset: 0;
  scale: 1.2;
}

.paco-canvas {
  overflow: hidden;
  position: absolute;
  inset: 0;
  border-radius: var(--radius);
  filter: brightness(1.15);
}

.paco-canvas:after {
  content: "";
  position: absolute;
  inset: 0;
  background:
    radial-gradient(ellipse at 50% 50%, hsl(var(--hue) var(--saturation) 94% / 0.98), transparent 80%) 50% 0 / 100% 6% no-repeat,
    radial-gradient(ellipse at 50% 50%, hsl(var(--hue) var(--saturation) 18% / 0.98), transparent 80%) 50% 100% / 100% 6% no-repeat,
    radial-gradient(circle at bottom right, hsl(var(--hue) var(--saturation) 45% / 0.75), transparent),
    hsl(var(--hue) var(--saturation) 60% / 0.65);
  box-shadow:
     calc(var(--font-size) * -0.2) calc(var(--font-size) * -0.2) 10px -5px inset hsl(var(--hue) var(--saturation) 25% / 0.5),
     calc(var(--font-size) * 0.2) calc(var(--font-size) * 0.2) 10px -5px inset hsl(var(--hue) var(--saturation) 75% / 0.5),
    0 0 calc(var(--font-size) * 0.25) calc(var(--font-size) * 0.25) inset hsl(var(--hue) var(--saturation) 10% / 0.3)
    ;

}

.paco-shade {
  position: absolute;
  border-radius: var(--radius);
  inset: 0;
  background:
    radial-gradient(ellipse at 50% 50%, hsl(var(--hue) var(--saturation) 98% / 0.98), transparent 80%) 50% 0 / 100% 6% no-repeat,
    radial-gradient(ellipse at 50% 50%, hsl(var(--hue) var(--saturation) 8% / 0.98), transparent 80%) 50% 100% / 100% 6% no-repeat,
    transparent;
  box-shadow:
    0 0 calc(var(--font-size) * 0.25) calc(var(--font-size) * 0.25) inset hsl(var(--hue) var(--saturation) 10% / 0.3);
}

.paco-text {
  font-size: var(--font-size);
  letter-spacing: calc(var(--font-size) * 0.25);
  color: hsl(var(--hue) var(--saturation) 16% / 0.75);
  text-shadow:
    calc(var(--font-size) * -0.075) calc(var(--font-size) * -0.075) hsl(var(--hue) var(--saturation) 90% / 0.4),
    calc(var(--font-size) * 0.075) calc(var(--font-size) * 0.075) hsl(var(--hue) var(--saturation) 10% / 0.4);
  z-index: 2;
  position: relative;
  text-transform: uppercase;
}

/* Tried multiple ways of getting a nicer block of color across somehow. Not happening... */
button:after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    108deg,
    transparent 0 55%,
    var(--glare) 60% 65%,
    transparent 70% 75%,
    var(--glare) 80% 90%,
    transparent 95%
  ) calc(var(--pos) * -200%) 0% / 200% 100%, transparent;
  z-index: 2;
  border-radius: var(--radius);
  transition: background-position 0s;
}

button:is(:hover, :focus-visible):after {
  transition: background-position 0.75s;
}

button {
  --pos: 0;
}

button:is(:hover, :focus-visible) {
  --pos: 1;
}

.paco-text:before {
/*   background: hsl(var(--hue) var(--saturation) 70% / 0.5); */
  content: "";
  position: absolute;
  filter: brightness(1.2);
  inset: calc(var(--font-size) * -0.5);
  border: calc(var(--font-size) * 0.1) solid hsl(var(--hue) 90% 20% / 0.5);
  overflow: hidden;
  z-index: -1;
  border-radius: calc(var(--font-size) * 0.15);
  --multiplier: 0.075;
  box-shadow:
    calc(var(--font-size) * var(--multiplier)) calc(var(--font-size) * var(--multiplier)) calc(var(--font-size) * var(--multiplier)) calc(var(--font-size) * var(--multiplier)) inset hsl(var(--hue) 90% 14% / 0.9),
    calc(var(--font-size) * (var(--multiplier) * -1)) calc(var(--font-size) * (var(--multiplier) * -1)) calc(var(--font-size) * var(--multiplier)) calc(var(--font-size) * (var(--multiplier) * 0.5)) inset hsl(var(--hue) 90% 30% / 0.9);

}

.paco-grub {
  position: absolute;
  inset: 0;
  pointer-events: none;
  mix-blend-mode: screen;
  border-radius: var(--radius);
  overflow: hidden;
  filter: blur(calc(var(--blur) * 3));
  clip-path: inset(calc(var(--font-size) * 0.25) calc(var(--font-size) * 0.25) calc(var(--font-size) * 0.25) calc(var(--font-size) * 0.25) round calc(var(--radius) * 0.75));
}

.paco-grub__wrapper {
  inset: 0;
  position: absolute;
  mix-blend-mode: luminosity;
}

.paco-grub__wrapper:after {
  content: "";
  inset: 0;
  position: absolute;
  mix-blend-mode: screen;
}


/* Handle sparkly things */

.paco-sparkles {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.paco-sparkles svg {
  position: absolute;
  z-index: 3;
  width: calc(var(--font-size) * 0.5);
  aspect-ratio: 1;
  filter: blur(calc(var(--blur) * 1));
}

.paco-sparkles svg path {
  fill: hsl(var(--hue) var(--saturation) 100% / 0.9);
}

/* Animation for sparkles */

button:is(:hover, :focus-visible) svg {
  animation: sparkle 0.75s calc((var(--delay-step) * var(--d, 0)) * 1s) both;
}

@keyframes sparkle {
  50% {
    transform: translate(-50%, -50%) scale(var(--s, 1)) rotate(calc(var(--r, 0) * 1deg));
  }
}

button svg {
  --delay-step: 0.1;
  top: calc(var(--y, 50) * 1%);
  left:  calc(var(--x, 0) * 1%);
/*  opacity: var(--a, 1);*/
  transform: translate(-50%, -50%) scale(0) rotate(0deg);
}