*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
	--distance: 500vh;
}

body {
	min-height: 100vh;
	font-family:  'Google Sans', sans-serif, system-ui;
	height: calc(100vh + var(--distance));
}

h1 {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-name: rotater;
	animation-timing-function: linear;
	animation-timeline: first-timeline;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
}

/* This needs the ability to scrub or something... */
/* Do you have to explicitly set the entire keyframes? No. */
@keyframes rotater {
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}