@import 'normalize.css' layer(normalize);

@layer normalize, base, demo;

@layer demo {
  :root {
    --header-height: 80px;
    --sidebar-width: 180px;
  }
  body {
    display: block;
  }

  [data-debug='true'] .layout {
    outline: 2px dashed hotpink;
  }

  [data-debug='true'] main {
    outline: 2px dashed red;
  }

  [data-debug='true'] [popover] {
    outline: 2px dashed green;
  }

  @media (min-width: 1200px) {
    [data-debug='true'] .layout::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: var(--sidebar-width);
      outline: 2px dashed blue;
      background: repeating-linear-gradient(
          45deg,
          #0000,
          hsl(210 80% 70%),
          #0000 6px
        )
        0 0 / 100% 100%;
    }
  }

  .layout {
    position: relative;
    width: 1200px;
    max-width: 100vw;
    margin: 0 auto;
    min-height: calc(100svh - var(--header-height));
    display: flex;
  }
  header {
    grid-column: 1 / -1;
    height: 80px;
    position: sticky;
    top: 0;
  }
  main {
    display: block;
    @media (min-width: 1200px) {
      margin-right: var(--sidebar-width);
    }
  }
  [popover] {
    inset: unset;
    display: block;
    position: static;
    width: var(--sidebar-width);
    margin: 0;
    position: sticky;
    flex-shrink: 0;
    right: 100%;
    top: var(--header-height);
    border: 0;
    background: transparent;
    height: 100%;
    min-height: calc(100svh - var(--header-height));
  }

  [popover] ul {
    list-style-position: inside;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    flex-direction: column;
  }

  [popover] a {
    display: inline-block;
    padding-block: 0.5rem;
    padding-inline: 0.25rem;
    text-decoration: none;
    color: color-mix(in hsl, currentColor, #0000 15%);
  }
}

@layer base {
  :root {
    --font-size-min: 16;
    --font-size-max: 20;
    --font-ratio-min: 1.2;
    --font-ratio-max: 1.33;
    --font-width-min: 375;
    --font-width-max: 1500;
  }

  html {
    color-scheme: light dark;
  }

  [data-theme='light'] {
    color-scheme: light only;
  }

  [data-theme='dark'] {
    color-scheme: dark only;
  }

  :where(.fluid) {
    --fluid-min: calc(
      var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0))
    );
    --fluid-max: calc(
      var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0))
    );
    --fluid-preferred: calc(
      (var(--fluid-max) - var(--fluid-min)) /
        (var(--font-width-max) - var(--font-width-min))
    );
    --fluid-type: clamp(
      (var(--fluid-min) / 16) * 1rem,
      ((var(--fluid-min) / 16) * 1rem) -
        (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
        (var(--fluid-preferred) * var(--variable-unit, 100vi)),
      (var(--fluid-max) / 16) * 1rem
    );
    font-size: var(--fluid-type);
  }

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
      Helvetica, Arial, sans-serif, system-ui;
  }

  body::before {
    --size: 45px;
    --line: color-mix(in lch, canvasText, transparent 70%);
    content: '';
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(
          90deg,
          var(--line) 1px,
          transparent 1px var(--size)
        )
        50% 50% / var(--size) var(--size),
      linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
        var(--size) var(--size);
    mask: linear-gradient(150deg, transparent 50%, white);
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
  }

  .bear-link {
    color: canvasText;
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 48px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    opacity: 0.8;
  }

  :where(.x-link, .bear-link):is(:hover, :focus-visible) {
    opacity: 1;
  }

  .bear-link svg {
    width: 75%;
  }

  /* Utilities */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}
