
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  margin: 0;
}

article {
  padding-bottom: var(--size-4);
  padding-left: var(--size-10);
}

article > p + p {
  margin-top: var(--size-4);
}

main > header {
  margin-bottom: var(--size-4);
  padding-inline: var(--size-10);
}

[role="img"] {
  position: fixed;
  font-size: 1rem;
  top: calc(var(--size-content-1) * 0.25);
  left: 50%;
  translate: calc((min(50vw, var(--size-content-3) * 0.5) - 100% - var(--size-4)) * -1);
  scale: 3;
  z-index: 99999;
}

main {
  width: var(--size-content-3);
}

header {
  min-height: var(--size-content-1);
  background: var(--surface-2);
  display: grid;
  padding: var(--size-4);
  place-items: center;
}

[popuptoggletarget] {
  border: 1px solid var(--text-1);
  padding: var(--size-2) var(--size-4);
}

[popup] {
  --hide: 1;
  top: 50%;
  left: 50%;
  translate: -50%;
  transition: transform 0.2s;
  transform: translateY(calc(var(--hide) * 100vh))
            scale(calc(1 - var(--hide)));
}

[popup]::backdrop {
  transition: opacity 0.2s;
  opacity: calc(1 - var(--hide, 1));
  background: hsl(0 0% 10% / 0.5);
  backdrop-filter: blur(2px);
}

/* You can transition your backdrop too */
[popup]:top-layer,
[popup]:top-layer::backdrop  {
  --hide: 0;
}

