@import "normalize.css";
@import "../../../../net/material-design-lite/icons.css";
@import "../../../../net/experimental-web-platform/style.css";
@import "open-props/style";
@import "open-props/normalize";

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-family:  'Google Sans', sans-serif, system-ui;
	background: var(--surface-2);
}

selectmenu {
	anchor-name: --menu;
}

[behavior=button] {
	padding: var(--size-4);
	width: 240px;
	display: flex;
	justify-content: space-between;
	border-radius: var(--radius-2);
	border: 0;
	box-shadow: var(--shadow-2);
	background: var(--surface-1);
}

selectmenu [popover] {
	overflow: visible;
	border-radius: var(--radius-2);
	top: anchor(--menu bottom);
	opacity: var(--open, 0);
	translate: 0 calc(var(--open, 0) * 5%);
	box-shadow: var(--shadow-5);
}

selectmenu [behavior=selected-value] {
	display: flex;
	align-items: center;
	gap: var(--size-2);
}

selectmenu [popover]:open {
	transition: opacity 0.2s, translate 0.2s;
	--open: 1;
}

selectmenu option {
	display: flex;
	align-items: center;
	gap: var(--size-2);
	padding: var(--size-2) var(--size-4);
}

selectmenu option:hover {
	background-color: var(--surface-2);
}

selectmenu option:checked:not(:hover) {
	background: var(--surface-3);
}

selectmenu:has([value=tennis]:checked) [behavior=selected-value] i,
[value=tennis] i {
	color: var(--green-6);
}
selectmenu:has([value=baseball]:checked) [behavior=selected-value] i,
[value=baseball] i {
	color: var(--indigo-6);
}
selectmenu:has([value=football]:checked) [behavior=selected-value] i,
[value=football] i {
	color: var(--red-4);
}
selectmenu:has([value=basketball]:checked) [behavior=selected-value] i,
[value=basketball] i {
	color: var(--orange-4);
}