:root {
	--anchor-size: 50px;
	--anchored-size: 250px;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-family:  'Google Sans', sans-serif, system-ui;
	background: var(--gradient-7);
	position: relative;
	overflow: hidden;
}

main {
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;
}

.anchor {
  anchor-name: --anchor;
	width: var(--anchor-size);
	aspect-ratio: 1;
	transition: all 0.2s ease;
	position: relative;
	background: var(--blue-1);
	margin-top: -25vh;
}

.anchored {
	position: absolute;
	position-fallback: --compass;
	width: var(--anchored-size);
	aspect-ratio: 1;
	transition: all 0.2s ease;
	animation: bob 1s infinite ease-in-out;
	background: var(--blue-6);
}

@keyframes bob {
	50% {
		transform: translateY(-2%);
	}
}

svg {
	width: 100%;
	height: 100%;
}

.boat-anchor {
	fill: var(--gray-5);
}
.boat {
	fill: none;
}
.boat__sail {
	fill: var(--gray-1);
}
.boat__wave {
	fill: var(--blue-3);
}
.boat__body {
	fill: hsl(45 70% 30%);
}