@import "normalize.css";
@import "open-props/style";
@import "open-props/normalize";

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: var(--gray-8);
}

.fox {
  width: 50vmin;
}

.wand-canvas {
  height: 100vh;
  width: 100vw;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
}


*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-family:  'Google Sans', sans-serif, system-ui;
}