@import 'normalize.css' layer(normalize);

@layer normalize, base, demo;

@layer demo {
  aside {
    --font-level: 1;
    width: 66ch;
    --canvas: color-mix(in lch, canvas, canvasText 1%);
    --border: color-mix(in lch, canvas, canvasText 15%);
    max-width: calc(100% - 2rem);
    line-height: 1.5;
    container-type: inline-size;
    position: relative;
  }

  .border {
    position: absolute;
    inset: 0;
    overflow: hidden;
    border-radius: 24px;
    background: var(--border);
    z-index: -1;
    /* translate: 0 -100%; */
    border: 0;
    container-type: inline-size;
  }

  .trail {
    width: 40cqmin;
    aspect-ratio: 2 / 1;
    position: absolute;
    background: radial-gradient(
      100% 100% at right,
      hsl(0 100% 50%),
      transparent 50%
    );
    offset-path: xywh(0 0 100% 100% round 24px);
    offset-anchor: 100% 50%;
    animation: journey 6s infinite linear;
  }

  @keyframes journey {
    to {
      offset-distance: 100%;
    }
  }

  aside p {
    font-weight: 300;
    text-align: center;
    margin: 0;
    color: color-mix(in lch, canvasText, canvas 50%);
  }

  aside > div {
    --canvas: color-mix(in lch, canvas, canvasText 1%);
    --border: color-mix(in lch, canvas, canvasText 15%);
    background: linear-gradient(var(--canvas), var(--canvas)) padding-box,
      transparent;
    border: 4px solid transparent;
    border-radius: 24px;
    padding: clamp(1rem, 3vmin + 1rem, 6rem);
    display: grid;
    gap: clamp(1rem, 3vmin + 1rem, 4rem);
  }

  aside footer {
    --font-level: 0.5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    gap: 0.5rem 1rem;
  }

  footer span:nth-of-type(2) {
    color: color-mix(in lch, canvasText, canvas 70%);
  }

  aside img {
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
  }
}

@layer base {
  :root {
    --font-size-min: 17;
    --font-size-max: 20;
    --font-ratio-min: 1.2;
    --font-ratio-max: 1.33;
    --font-width-min: 320;
    --font-width-max: 1500;
  }

  :where(.fluid) {
    --fluid-min: calc(
      var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0))
    );
    --fluid-max: calc(
      var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0))
    );
    --fluid-preferred: calc(
      (var(--fluid-max) - var(--fluid-min)) /
        (var(--font-width-max) - var(--font-width-min))
    );
    --fluid-type: clamp(
      (var(--fluid-min) / 16) * 1rem,
      ((var(--fluid-min) / 16) * 1rem) -
        (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
        (var(--fluid-preferred) * var(--variable-unit, 100vi)),
      (var(--fluid-max) / 16) * 1rem
    );
    font-size: var(--fluid-type);
  }

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  body {
    display: flex;
    place-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
      Helvetica, Arial, sans-serif, system-ui;
  }

  body::before {
    --size: 45px;
    --line: color-mix(in lch, canvasText, transparent 70%);
    content: '';
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(
          90deg,
          var(--line) 1px,
          transparent 1px var(--size)
        )
        50% 50% / var(--size) var(--size),
      linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
        var(--size) var(--size);
    mask: linear-gradient(-20deg, transparent 50%, white);
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
  }

  .bear-link {
    color: canvasText;
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 48px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    opacity: 0.8;
  }

  :where(.x-link, .bear-link):is(:hover, :focus-visible) {
    opacity: 1;
  }

  .bear-link svg {
    width: 75%;
  }

  /* Utilities */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}
